@import url('https://fonts.googleapis.com/css?family=Electrolize|Maven+Pro');
body {
    font-family: "Electrolize";
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}

h1 {
    font-size: 150px;
    padding: 10px;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 48px;
    text-align: center;
}

p {
    font-size: 20px;
}

#header {
    background-color: black;
    height: 200px;
    overflow: hidden;
}

#content {
    display: grid;
    grid-template-columns: 0.5fr 4fr 4fr 2fr 2fr 2fr 0.5fr;
    grid-template-rows: 720px 1000px 500px 400px;
    grid-template-areas: ". map map map map-text map-text ." ". bubbles-text bubbles bubbles bubbles bubbles ." ". fatal damage schedule schedule . ." ". fatal-text fatal-text fatal-text fatal-text fatal-text .";
}

#footer {
    background-color: black;
    padding: 10px;
    text-align: center;
    height: 400px;
}

.warning {
    background: -webkit-linear-gradient(#FF0B0C, #FFF500);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.quadrant {
    border: 0px solid red;
}

#map {
    position: relative;
    grid-area: map;
}

#map-text {
    grid-area: map-text;
    padding: 10px;
}

#bubbles {
    position: relative;
    grid-area: bubbles;
}

#bubbles-text {
    grid-area: bubbles-text;
    padding: 10px;
}

#fatal {
    position: relative;
    grid-area: fatal;
}

#damage {
    position: relative;
    grid-area: damage;
}

#schedule {
    position: relative;
    grid-area: schedule;
}

#fatal-text {
    grid-area: fatal-text;
    padding: 10px;
}

#fatal-label {
    position: absolute;
    color: white;
    top: 265px;
    left: 242px;
}

#damage-label {
    position: absolute;
    color: white;
    top: 265px;
    left: 223px;
}

#schedule-label {
    position: absolute;
    color: white;
    top: 265px;
    left: 240px;
}

#tooltip {
    z-index: 10;
    color: white;
    position: absolute;
    background: black;
    padding: 10px;
    border: 1px solid white;
}

#bubbles-tooltip {
    z-index: 10;
    color: white;
    position: absolute;
    right: 20px;
    background: black;
    padding: 10px;
    border: 1px solid white;
}

#fatal-tooltip {
    z-index: 10;
    color: white;
    position: absolute;
    left: 20px;
    background: black;
    padding: 10px;
    border: 1px solid white;
}

#damage-tooltip {
    z-index: 10;
    color: white;
    position: absolute;
    left: 20px;
    background: black;
    padding: 10px;
    border: 1px solid white;
}

#schedule-tooltip {
    z-index: 10;
    color: white;
    position: absolute;
    left: 20px;
    background: black;
    padding: 10px;
    border: 1px solid white;
}

#map-legend {
    position: absolute;
    top: 180px;
    left: 20px;
    width: 100px;
    height: 400px;
}

#bubbles-legend {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 200px;
    height: 200px;
}

.hidden {
    display: none;
}